.hi5-container {
  height: 70px;
  width: 70px;
}

#hi5 {
  font: Arial;
  height: 64px;
  width: 64px;
  border-radius: 70px;
  text-align: center;
  padding: 3px;
  background-color: #BADA55;
  color: #333;
}

#hi5:hover {
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hi5-feedback {
  font: 10px Helvetica;
  text-align: center;
}

.hi5-hide {
  display: none;
}

.hi5-show {
  display: block;
}